main {
    background-color: rgb(245, 168, 2);
}
header
{
    display: flex;
    align-items: center;
    background-color: rgb(32, 32, 251);
}

header img
{
    margin-left: 5%;
    width: 10%;
    height: 10%;
}

nav
{
    margin-left: 45%;
    display: flex;
}

nav a
{
    font-size: larger;
    margin-left: 40px;
}

main img
{

    margin-top: 10px;
    height: 100%;
    width: 100%;
}

section
{
    margin-left: 5%;
}

section div{
}

section article
{
    display: flex;
}

section img
{
    margin-left: 15%;
    width: 50%;
    height: 50%;
}

section h2
{
    color: grey;
}

section article h2
{
    color: rgb(255, 0, 0);
}

section p.name
{
    color: grey
}

footer
{
    background-color: darkgrey;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6%;
    width: 100%;
    font-size: x-large;
}

footer a
{
    margin-left: 10%;
}