body
{
    background-color: rgb(209, 209, 209);
}

header
{
    display: flex;
    align-items: center;
}

header h1
{
    margin-left: 5%;
}

nav
{
    margin-left: 45%;
    display: flex;
}

nav h3
{
    margin-left: 40px;
}

image
{
    margin-top: 10px;
}

section
{
    margin-left: 5%;
}

section article
{
    display: flex;
}

section img
{
    margin-left: 15%;
    width: 50%;
    height: 50%;
}

section h2
{
    color: grey;
}

section article h2
{
    color: rgb(255, 0, 0);
}

section p.name
{
    color: grey
}

footer
{
    background-color: darkgrey;
/* padding: 1em; */
    /* z-index: 1; */
}

footer a{
margin-left: 13%;
}